#navigation-bar {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.4em;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.write-new-tweet {
  font-size: 15px;
}