.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  font-size: 1.5em;
}

.button-organizer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee", "sans-serif";
}

.form-organizer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#tweet-text {
  width: 30em;
  height: 3em;
  margin: 10px 0px 10px 0px; 
  background-color: #f4f1ec;
  border-bottom: solid black;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form-label {
  /* border-bottom: black solid; */
  padding: 10px 0px 10px 0px;
}

button {
  font-family: "Bungee", "sans-serif";
  background-color: #4056A1;
  color: white;
}

#error-message{
  color: white;
  background: #c51244;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
}