.tweets-container {
  border: black solid;
  margin: 10px 10px 10px 10px
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.face-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 10px;
}